// https://fonts.google.com/share?selection.family=Brygada%201918:ital,wght@0,400;0,600;1,400;1,600%7CGreat%20Vibes%7CMontserrat:wght@300;400;600;700

//Montserrat Weight: 300|400|600|700;
$MontBase: 'Montserrat', sans-serif;
@mixin MontBase($fntWght){
    font-family: $MontBase;
    font-weight: $fntWght;
}
// @include MontBase(400);

//Brygada 1918 Weight: 400|4000i|600|600i;
$BrygBase: 'Brygada 1918', serif;
@mixin BrygBase($fntWght){
    font-family: $BrygBase;
    font-weight: $fntWght;
}
// @include BrygBase(400);

//Great Vibes Weight: 400;
$GrtVbsBase: 'Great Vibes', cursive;
@mixin GrtVbsBase($fntWght){
    font-family: $GrtVbsBase;
    font-weight: $fntWght;
}
// @include GrtVbsBase(400);

:root {
    --wl-color-lgtBrwn: rgba(184, 105, 54, 1);     //var(--wl-color-lgtBrwn);
    --wl-color-blk: rgba(0, 0, 0, 1);   //var(--wl-color-blk);
    --wl-color-wht: rgba(255, 255, 255, 1);   //var(--wl-color-wht);
}

body{background-color: var(--wl-color-blk)}

/* Nav Styles */
#WL_navbarContainer{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 75;
    background-color: rgba(0, 0, 0, 0.75);
}
.navbar{
    padding: 0rem 3rem 0 0;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color:var(--wl-color-lgtBrwn);
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.7));
    // rgba(255,255,255,.75)
}
.navbar-brand{
     background: var(--wl-color-blk);
    /*padding: 10px; */
    // filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.7));
    padding: 10px 20px 10px 100px;
}
.navbar-dark .navbar-nav .nav-link{

    color: var(--wl-color-wht);
    text-transform: uppercase;
    position: relative;
}
.navbar-dark .navbar-nav .nav-item{
    @include MontBase(400);
    position: relative;
    top: 4px;
}
.navbar-dark .navbar-nav .nav-call{
    position: relative;
    top: 0px;


    text-align: center;
    color: var(--wl-color-wht);
    /* padding-left: 30px; */
}

.navbar-dark .navbar-nav .nav-call p{
    @include BrygBase(400);
    font-style: italic;    
    color: var(--wl-color-lgtBrwn);
    text-transform: capitalize;
    font-size: 1em;
    line-height: .75em;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
}
.navbar-dark .navbar-nav .nav-call h6{
    @include MontBase(400);
    font-size: 2.2em;
    line-height: .75em;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
}
.navbar-dark .navbar-nav .nav-call h5{
    font-size: 1em;
    line-height: .75em;
    font-weight: 400;
    margin-bottom: 0px;
}

.nav-sep{
    width: 1px;
    height: 40px;
    background: transparent url(../images/WLC_Nav_Sep.png) no-repeat center center;
    background-size: contain;

    position: absolute;
    top: 0;
    right: -1px;
}

@media (max-width: 767px) {
    /* CSS goes here */
    #WL_navbarContainer{
        background-color: var(--wl-color-blk);
        border-bottom: 2px solid var(--wl-color-lgtBrwn);
    }
    .navbar{
        padding: 0rem 1rem;
    }
    .navbar-brand{
       padding: 10px 20px 10px 0px;
   }
    .navbar-brand img{
       height: 75px;
   }
}
/* Nav Styles */

/* Carousel Styles */
#WL_Carousel_Container{
    overflow: hidden;
    /* border-bottom: 5px solid lime; */
    z-index: 25;
}
#WL_Carousel_Container, .carousel-item{
    /* position: relative; */
    // height: 650px;
    min-height: calc(100vh - 100px);
}

@media (max-width: 767px) {
    /* CSS goes here */
    #WL_Carousel_Container, .carousel-item{
        min-height: 600px;
    }
    .carousel-inner{
        width:100%;
        top: 90px;
        // max-height: 460px !important;
    }
}


.carousel-item p{
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--wl-color-wht);
    display: inline-block;
    padding: 10px 40px;

    @include BrygBase(400);
    font-style: italic;
    font-size: 2.9em;
    line-height: 1.05em;

    position: absolute;
    // top: calc(100vh - 550px);
    top: calc(100vh - 300px);
}

@media (max-width: 767px) {
    .carousel-item p{
    /* CSS goes here */
        width: 100%;
        font-size: 1.2em;
        line-height: 1.2em;
        padding: 10px 5px;
        top: 405px;
        text-align: center;
        margin: 0;
    }
    // .carousel-item:nth-of-type(4) p{
    //     font-size: 1.7em;
    //     line-height: 1.2em;
    // }
}
// Lumber Carousel
.WL_Lumber .carousel-item:nth-of-type(1){
    background: transparent url(../images/WL_Lumber_Carousel/WLC_Lum_HP_Carousel_0.png) no-repeat top center;
}
.WL_Lumber .carousel-item:nth-of-type(2){
    background: transparent url(../images/WL_Lumber_Carousel/WLC_Lum_HP_Carousel_1.png) no-repeat top center;
}
.WL_Lumber .carousel-item:nth-of-type(3){
    background: transparent url(../images/WL_Lumber_Carousel/WLC_Lum_HP_Carousel_2.png) no-repeat top center;
}
.WL_Lumber .carousel-item:nth-of-type(4){
    background: transparent url(../images/WL_Lumber_Carousel/WLC_Lum_HP_Carousel_3.png) no-repeat top center;
}
.WL_Lumber .carousel-item:nth-of-type(5){
    background: transparent url(../images/WL_Lumber_Carousel/WLC_Lum_HP_Carousel_4.png) no-repeat top center;
}
.WL_Lumber .carousel-item:nth-of-type(6){
    background: transparent url(../images/WL_Lumber_Carousel/WLC_Lum_HP_Carousel_5.png) no-repeat top center;
}
.WL_Lumber .carousel-item:nth-of-type(7){
    background: transparent url(../images/WL_Lumber_Carousel/WLC_Lum_HP_Carousel_6.png) no-repeat top center;
}
.WL_Lumber .carousel-item:nth-of-type(8){
    background: transparent url(../images/WL_Lumber_Carousel/WLC_Lum_HP_Carousel_7.png) no-repeat top center;
}
.WL_Lumber .carousel-item:nth-of-type(9){
    background: transparent url(../images/WL_Lumber_Carousel/WLC_Lum_HP_Carousel_8.png) no-repeat top center;    
}
.WL_Lumber .carousel-item:nth-of-type(10){
    background: transparent url(../images/WL_Lumber_Carousel/WLC_Lum_HP_Carousel_9.png) no-repeat top center;    
}
.WL_Lumber .carousel-item:nth-of-type(11){
    background: transparent url(../images/WL_Lumber_Carousel/WLC_Lum_HP_Carousel_10.png) no-repeat top center;    
}
@media (max-width: 767px) {
    /* Mobile CSS goes here */
    .WL_Lumber .carousel-item:nth-of-type(1){
        background: transparent url(../images/WL_Lumber_Carousel/Mob/WLC_Lum_HP_Carousel_0.png) no-repeat top center;
    }
    .WL_Lumber .carousel-item:nth-of-type(2){
        background: transparent url(../images/WL_Lumber_Carousel/Mob/WLC_Lum_HP_Carousel_1.png) no-repeat top center;
    }
    .WL_Lumber .carousel-item:nth-of-type(3){
        background: transparent url(../images/WL_Lumber_Carousel/Mob/WLC_Lum_HP_Carousel_2.png) no-repeat -300px center;
    }
    .WL_Lumber .carousel-item:nth-of-type(4){
        background: transparent url(../images/WL_Lumber_Carousel/Mob/WLC_Lum_HP_Carousel_3.png) no-repeat top center;
    }
    .WL_Lumber .carousel-item:nth-of-type(5){
        background: transparent url(../images/WL_Lumber_Carousel/Mob/WLC_Lum_HP_Carousel_4.png) no-repeat top center;
    }
    .WL_Lumber .carousel-item:nth-of-type(6){
        background: transparent url(../images/WL_Lumber_Carousel/Mob/WLC_Lum_HP_Carousel_5.png) no-repeat top center;
    }
    .WL_Lumber .carousel-item:nth-of-type(7){
        background: transparent url(../images/WL_Lumber_Carousel/Mob/WLC_Lum_HP_Carousel_6.png) no-repeat top center;
    }
    .WL_Lumber .carousel-item:nth-of-type(8){
        background: transparent url(../images/WL_Lumber_Carousel/Mob/WLC_Lum_HP_Carousel_7.png) no-repeat top center;
    }
    .WL_Lumber .carousel-item:nth-of-type(9){
        background: transparent url(../images/WL_Lumber_Carousel/Mob/WLC_Lum_HP_Carousel_8.png) no-repeat top center;    
    }
    .WL_Lumber .carousel-item:nth-of-type(10){
        background: transparent url(../images/WL_Lumber_Carousel/Mob/WLC_Lum_HP_Carousel_9.png) no-repeat top center;    
    }
    .WL_Lumber .carousel-item:nth-of-type(11){
        background: transparent url(../images/WL_Lumber_Carousel/Mob/WLC_Lum_HP_Carousel_10.png) no-repeat top center;    
    }
}

// Construction Carousel
.WL_Construction .carousel-item:nth-of-type(1){
    background: transparent url(../images/WL_Construction_Carousel/WLC_Con_HP_Carousel_0_SM.png) no-repeat center center;
}
.WL_Construction .carousel-item:nth-of-type(2){
    background: transparent url(../images/WL_Construction_Carousel/WLC_Con_HP_Carousel_1_SM.png) no-repeat center center;    
}
.WL_Construction .carousel-item:nth-of-type(3){
    background: transparent url(../images/WL_Construction_Carousel/WLC_Con_HP_Carousel_2_SM.png) no-repeat center center;    
}
.WL_Construction .carousel-item:nth-of-type(4){
    background: transparent url(../images/WL_Construction_Carousel/WLC_Con_HP_Carousel_9_SM.png) no-repeat center center;
}
.WL_Construction .carousel-item:nth-of-type(5){
    background: transparent url(../images/WL_Construction_Carousel/WLC_Con_HP_Carousel_4_SM.png) no-repeat center center;    
}
.WL_Construction .carousel-item:nth-of-type(6){
    background: transparent url(../images/WL_Construction_Carousel/WLC_Con_HP_Carousel_6_SM.png) no-repeat center center;    
}
.WL_Construction .carousel-item:nth-of-type(7){
    background: transparent url(../images/WL_Construction_Carousel/WLC_Con_HP_Carousel_7_SM.png) no-repeat center center;    
}
.WL_Construction .carousel-item:nth-of-type(8){
    background: transparent url(../images/WL_Construction_Carousel/WLC_Con_HP_Carousel_8_SM.png) no-repeat center center;    
}
// .WL_Construction .carousel-item:nth-of-type(9){
//     background: transparent url(../images/WL_Construction_Carousel/WLC_Con_HP_Carousel_9_SM.png) no-repeat center center;    
// }
@media (max-width: 767px) {
    /* Mobile CSS goes here */
    .WL_Construction .carousel-item:nth-of-type(1){
        background: transparent url(../images/WL_Construction_Carousel/Mob/WLC_Con_HP_Carousel_0_SM.png) no-repeat top center;
    }
    .WL_Construction .carousel-item:nth-of-type(2){
        background: transparent url(../images/WL_Construction_Carousel/Mob/WLC_Con_HP_Carousel_1_SM.png) no-repeat top center;    
    }
    .WL_Construction .carousel-item:nth-of-type(3){
        background: transparent url(../images/WL_Construction_Carousel/Mob/WLC_Con_HP_Carousel_2_SM.png) no-repeat top center;    
    }
    .WL_Construction .carousel-item:nth-of-type(4){
        background: transparent url(../images/WL_Construction_Carousel/Mob/WLC_Con_HP_Carousel_9_SM.png) no-repeat top center;
    }
    .WL_Construction .carousel-item:nth-of-type(5){
        background: transparent url(../images/WL_Construction_Carousel/Mob/WLC_Con_HP_Carousel_4_SM.png) no-repeat top center;    
    }
    .WL_Construction .carousel-item:nth-of-type(6){
        background: transparent url(../images/WL_Construction_Carousel/Mob/WLC_Con_HP_Carousel_6_SM.png) no-repeat top center;    
    }
    .WL_Construction .carousel-item:nth-of-type(7){
        background: transparent url(../images/WL_Construction_Carousel/Mob/WLC_Con_HP_Carousel_7_SM.png) no-repeat top center;    
    }
    .WL_Construction .carousel-item:nth-of-type(8){
        background: transparent url(../images/WL_Construction_Carousel/Mob/WLC_Con_HP_Carousel_8_SM.png) no-repeat top center;    
    }
}

.carousel-indicators .active{
    background-color: var(--wl-color-lgtBrwn);
}
/* Carousel Styles */

.WL_BlackBox{
    // max-width: 1050px;
    // min-width: 320px;
    margin: 175px 100px 0px;
    background-color: var(--wl-color-blk);
    border-radius: 25px 25px 0px 0px;
}
@media (max-width: 767px) {
    /* CSS goes here */
    .WL_BlackBox{
        // width: 320px;
        margin: 115px 5px 0px;
        background-color: rgba(0, 0, 0, 0.9);
        // border-radius: 10px 10px 0px 0px;        
    }
    // #galleryContainer .galleryImgContainer img{
    //     width: 150px;
    // }
}

.HP_Feature_Text{
    @include BrygBase(400);
    // font-style: italic;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 0.25rem;
}

.WL_LumProd .WL_Prod_Categories .HP_Feature_Text{
    min-height: 100px;
}

.WL_ConProd .WL_Prod_Categories .HP_Feature_Text{
    width: 405px;
    height: 120px;
    margin: 0 auto;
}
.WL_ConProd .wl-fx-img{
    width: 405px !important;
}

@media (max-width: 767px) {
    .HP_Feature_Text{
        font-size: 0.9em;
        line-height: 1.2em;
    }
    .WL_LumProd .WL_Prod_Categories .HP_Feature_Text{
        min-height: 80px;
    }

    .WL_ConProd .WL_Prod_Categories .HP_Feature_Text{
        width: 285px;
        height: 90px;
        margin: 0 auto;
    }
    .WL_ConProd .wl-fx-img{
        width: 300px !important;
    }
}

/* Philosophy Hdr Styles */
#WL_Philosophy_Hdr p{
    background-color: var(--wl-color-blk);
    @include BrygBase(400);
    font-style: italic;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 15px;
}
#WL_Philosophy_Hdr span.text-feature{
    color: var(--wl-color-lgtBrwn);
    font-size: 3.5rem;
    line-height: 1.7rem;
    font-weight: 700;
}
@media (max-width: 767px) {
    /* CSS goes here */
    #WL_Philosophy_Hdr p{
        font-size: 2.1rem;
        line-height: 2rem;
        margin: 20px 0 0;
    }
    #WL_Philosophy_Hdr span.text-feature{
        font-size: 2.5rem;
        line-height: 2rem;
        display: block;
    }
    #WL_Philosophy_Hdr .container:nth-of-type(2){
        margin: 10px 0px 30px;
    }
    #WL_Philosophy_Hdr .container:nth-of-type(2) div>.col-md{
        width: 50%;
    }
}
/* Philosophy Hdr Styles */

/* Philosophy Bdy Styles */
#WL_Philosophy_Bdy{
    background-color: var(--wl-color-blk);
}

.WL_Hdr_Main{
    @include MontBase(300);
    color: var(--wl-color-lgtBrwn);
    // color: var(--wl-color-wht);
    text-transform: uppercase;
}
#WL_Philosophy_Bdy .WL_Hdr_Main{    
    padding: 50px 0px 25px;
    font-size: 3em;
    line-height: 1.7rem;
}
@media (max-width: 767px) {
    #WL_Philosophy_Bdy .WL_Hdr_Main{    
        padding: 20px 0px;
        font-size: 1.7em;
        line-height: 0.7rem;
    }
}

.WL_Hdr_SubMain{
    @include MontBase(700);
    color: var(--wl-color-lgtBrwn);
    padding: 20px 0px 10px;

    text-transform: uppercase;
    font-size: 2em;
    line-height: 1rem;
}
#WL_AboutUs_Bdy .bdy_Hdr .WL_Hdr_SubMain{
    font-size: 1.5em;
    line-height: 2rem;
}

.HP_Feature_SubText{
    @include MontBase(600);
    color: var(--wl-color-wht);
    // padding: 20px 0px 10px;

    // text-transform: capitalize;
    font-size: 1.5em;
    line-height: 1.75rem;
}

@media (max-width: 767px) {
    /* CSS goes here */
    .WL_Hdr_SubMain{
        font-size: 1.5em;
        line-height: 0.5em;
    }
    .HP_Feature_SubText{
        font-size: 1.1em;
        line-height: 1.35rem;
    }
}

.HP_Phil_Text{
    @include BrygBase(400);
    // font-style: italic;
    font-size: 1.35em;
    line-height: 1.7em;
}
.HP_Phil_Text .FSTExt{
    display: inline-block;
}
.HP_Phil_Text .MobTExt{
    display: none;
}
@media (max-width: 767px) {
    .HP_Phil_Text{
        font-size: 1em;
        line-height: 1.5em;
    }
    .HP_Phil_Text .FSTExt{
        display: none;
    }
    .HP_Phil_Text .MobTExt{
        display: block;
    }
}
/* Philosophy Bdy Styles */

/* Philosophy Ftr Styles */
#WL_Philosophy_Ftr{
    background-color: var(--wl-color-blk);
}
.bdy_Ftr{
    padding-bottom: 50px;
}
.bdy_Ftr p{
    max-width: 950px;
    min-width: 320px;
    margin: 0 auto;

    @include BrygBase(600);
    font-style: italic;
    font-size: 2.5em;
    line-height: 1.3em;
    position: relative;
}
.bdy_Ftr p span.text-feature{
    width: 37px;
    height: 37px;
    background: transparent url(../images/WLC_HP_Quotation.png) no-repeat center center;
    background-size: contain;
    color: var(--wl-color-lgtBrwn);
    font-weight: 700;
    font-style: italic;
    font-size: 3em;
    line-height: 1em;
    position: absolute;

    overflow: hidden;
    text-indent: -1000px;
}

.bdy_Ftr p span.text-feature:nth-of-type(1){    
    top: -10px;
    left: -16px;
}
.bdy_Ftr p span.text-feature:nth-of-type(2){
    // right: 75px;
    // right: -18px;
    top: 70px;
    transform: rotate(180deg);
}

.bdy_Ftr h6{
    @include GrtVbsBase(400);
    color: var(--wl-color-lgtBrwn);
    font-size: 3.35em;
    line-height: 0.75em;
    padding-top: 30px;
}
.bdy_Ftr h5{
    @include MontBase(300);
    color: #ca916d;
    font-size: 1em;
    line-height: 1.5em;
    // padding-bottom: ;
}

@media (max-width: 767px) {
    .bdy_Ftr p{
        max-width: 300px;
        margin: 5px auto;
        font-size: 1.1em;
        line-height: 1.4em;
        padding: 10px;
    }

    .bdy_Ftr p span.text-feature{
        width: 30px;
        height: 30px;
    }
    .bdy_Ftr p span.text-feature:nth-of-type(1){
        top: 0px;
        left: -15px;
        font-size: 2.5em;
    }
    .bdy_Ftr p span.text-feature:nth-of-type(2){
        top: 60px;
        right: 5px;
        font-size: 2.5em;
    }

    .bdy_Ftr h6{
        font-size: 2.35rem;
        line-height: 1.75rem;
        padding-top: 5px;
    }
    .bdy_Ftr h5{
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
    .bdy_Ftr{
        padding: 15px 0 25px;
    }
}


/* Philosophy Ftr Styles */

/* Footer Nav Styles */
#WL_ftr_navbarContainer{
    // margin-top: 50px;
    width: 100%;
    background-color: var(--wl-color-blk);
    box-shadow: 0px -1px 15px 5px rgba(184px, 105, 54, 0.23);
}
/* Footer Nav Styles */

/* About Us Styles */
.WL_AboutUs{
    background: transparent url(../images/WLC_AboutUs_Bkgrnd.png) no-repeat center center;
    background-size: cover;   
}

#WL_AboutUs_Bdy .WL_FeatSubImg{
    margin-top: 20px;
    // height: 45px;
}
#WL_AboutUs_Bdy .WL_Hdr_Main{    
    padding: 15px 0px 0px;
    font-size: 2.5em;
    line-height: 2.7rem;
}
@media (max-width: 767px) {
    /* CSS goes here */
    #WL_AboutUs_Bdy{
        padding-top: 25px;
    }
    #WL_AboutUs_Bdy .WL_Hdr_Main{    
        padding: 5px 0px 0px;
        font-size: 1.2em;
        line-height: 1.5rem;
    }
    #WL_AboutUs_Bdy .bdy_Hdr .WL_Hdr_SubMain {
        font-size: 1.1em;
        line-height: 1.5rem;
        padding: 0px;
    }
    #WL_AboutUs_Bdy .bdy_Hdr img{
        width: 15%;
    }
}

/*Products Styles*/
.WL_Products{
    background: transparent url(../images/WLC_Products_Bkgrnd.png) no-repeat center center;
    background-size: cover;   
}
.WL_Prod_Categories{
    gap: 40px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
#WL_Product_Bdy .WL_FeatSubImg{
    margin-top: 20px;
    // height: 45px;
}
#WL_Product_Bdy .WL_Hdr_Main{    
    padding: 15px 0px 0px;
    font-size: 3.5em;
    line-height: 3.7rem;
}
#WL_Product_Bdy a{
    @include MontBase(700);
    color: var(--wl-color-lgtBrwn);
    // font-style: italic;
    font-size: 1.1em;
    line-height: 1.1em;
    margin-bottom: 0.25rem;
    // text-decoration: none;
}
#WL_Product_Bdy a:hover{
    color: var(--wl-color-wht);
}
@media (max-width: 767px) {
    /* CSS goes here */
    #WL_Product_Bdy {
        padding-top: 25px;
    }
    #WL_Product_Bdy .WL_FeatSubImg{
        margin-top: 50px;
    }
    #WL_Product_Bdy .WL_FeatSubImg,
    #WL_Product_Bdy .WL_FeatSubImg img{
        height: 30px;
    }
    #WL_Product_Bdy  .WL_Hdr_Main{    
        padding: 5px 0px 0px;
        font-size: 1.6em;
        line-height: 2.1rem;
    }
}


/*Gallery Styles*/
.WL_Gallery{
    background: transparent url(../images/WLC_Gal_Bkgrnd.png) repeat 0 0;
    background-size: cover;   
}

// @media only screen and (min-width : 320px) {
//     .galleryNavContainer .navListing{
//         width: 93px;
//         margin-right: 5px;
//     }
//     .galleryNavContainer .gal-sep{
//         height: 15px;
//         bottom: 13px;
//     }
//     .galleryNavContainer .WL_Hdr_Main{    
//         // padding: 20px 0px;
//         font-size: 0.7em;
//         line-height: 1.7rem;
//     }
//  }
 
//   @media only screen and (min-width : 576px) {
//     .galleryNavContainer .WL_Hdr_Main{    
//         padding: 50px 0px;
//         font-size: 0.7em;
//         line-height: 1.7rem;
//     }
//   }

//   @media only screen and (min-width : 768px) {
//     .galleryNavContainer .WL_Hdr_Main{    
//         padding: 50px 0px;
//         font-size: 1.2em;
//         line-height: 1.7rem;
//     }
//   }

.navListing{
    // width: 150px;
    // background-color: salmon;
    // margin-right: 10px;
    position: relative;
    padding: 0 10px;
}
@media (max-width: 767px) {
    .navListing{
        padding: 0;
    }
}

.galContainerInner{
    padding: 0 150px;
    gap: 15px;
}
.galContainerInner .WL_FeatSubImg{
    opacity: 0;
    // width: 67px;
    height: 39px;
    margin: 15px 0 5px;
    // background: lime;
    // background-size: 20%;
}

.WL_Lumber .galContainerInner .navListing:nth-of-type(1) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_TablesLogo.png) no-repeat center center;
    background-size: contain;
    // background-size: 70%;   
}
.WL_Lumber .galContainerInner .navListing:nth-of-type(2) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_LightingLogo.png) no-repeat center center;
    background-size: contain;
    // background-size: 70%;   
}
.WL_Lumber .galContainerInner .navListing:nth-of-type(3) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_FurnitureLogo.png) no-repeat center center;
    background-size: contain;
    // background-size: 70%;   
}
.WL_Lumber .galContainerInner .navListing:nth-of-type(4) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_MantlesLogo.png) no-repeat center center;
    background-size: contain;
    // background-size: 70%;   
}
.WL_Lumber .galContainerInner .navListing:nth-of-type(5) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_BarnDoorsLogo.png) no-repeat center center;
    background-size: contain;
    // background-size: 70%;   
}
.WL_Lumber .galContainerInner .navListing:nth-of-type(6) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_WholeSaleLogo.png) no-repeat center center;
    background-size: contain;
    // background-size: 70%;   
}



.WL_Construction .galContainerInner .navListing:nth-of-type(1) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_DecksLogo.png) no-repeat center center;    
    background-size: contain;
    // background-size: 70%;   
}
.WL_Construction .galContainerInner .navListing:nth-of-type(2) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_SidingLogo.png) no-repeat center center;
    background-size: contain;
    // background-size: 70%;   
}
.WL_Construction .galContainerInner .navListing:nth-of-type(3) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_MasonryLogo.png) no-repeat center center;    
    background-size: contain;
    // background-size: 70%;   
}
.WL_Construction .galContainerInner .navListing:nth-of-type(4) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_RoofingLogo.png) no-repeat center center;
    background-size: contain;
    // background-size: 70%;   
}
.WL_Construction .galContainerInner .navListing:nth-of-type(5) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_RailingsLogo.png) no-repeat center center;
    background-size: contain;
    // background-size: 70%;   
}
.WL_Construction .galContainerInner .navListing:nth-of-type(6) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_Chimney.png) no-repeat center center;
    background-size: contain;
    // background-size: 70%;   
}


.galContainerInner .WL_Hdr_Main{    
    // padding: 50px 0px;
    font-size: 1.8em;
    line-height: 1.2em;
    // color: var(--wl-color-wht);
    text-decoration: none;
}
.galContainerInner .WL_Hdr_Main:hover{
    color:var(--wl-color-wht);
    // filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.7));
    // rgba(255,255,255,.75)
    text-decoration: underline;
}


.gal-sep{
    width: 1px;
    height: 30px;
    background-color: var(--wl-color-wht);

    position: absolute;
    bottom: 14px;
    right: -8px;
}
@media (max-width: 767px) {
    .gal-sep{
        height: 15px;
        bottom: 8px;
        right: -8px;
    }
    .galContainerInner{
        padding: 0;
    }
}

#galleryContainer{
    min-height: calc(100vh - 300px);
    padding-bottom: 55px;
}

.galleryImgContainer{
    padding: 20px 0 75px;
}
.galleryImgContainer a{
    border: 3px solid var(--wl-color-wht);
}
.galleryImgContainer img{
    width: 215px;    
}

// Gallery Modal Window Start
#galleryModalWindow{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;

    transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

#galleryModalWindow img{
    max-width: 650px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px solid var(--wl-color-wht);
}

//   @media only screen and (min-width : 576px) {
//     // .galContainerInner{
//     //     padding-top: 10px;
//     // }
//     // .galContainerInner .WL_Hdr_Main{
//     //     font-size: 1em;
//     // }
//     // .galContainerInner .WL_FeatSubImg{
//     //     margin-top: 15px;
//     //     height: 33px;
//     // }
//     // .galContainerInner .WL_FeatSubImg img{
//     //     width: 30px;
//     // }
// //     #galleryModalWindow img {
// //        width: 440px;
// //    }
//   }

//   @media only screen and (min-width : 768px) {
//     // .galContainerInner{
//     //     padding-top: 0px;
//     // }
//     // .galContainerInner .WL_Hdr_Main{
//     //     font-size: 1.2em;
//     // }
//     // .galContainerInner .WL_FeatSubImg{
//     //     margin-top: 15px;
//     //     height: 43px;
//     // }
//     // .galContainerInner .WL_FeatSubImg img{
//     //     width: 30px;
//     // }
//     // #galleryModalWindow img {
//     //    width: auto;
//     //    height:55%;
// //    }
//   }


  #galleryModalWindow .gal-close p{
      width: 50px;
      height: 50px;
    //   background-color: var(--wl-color-lgtBrwn);

    background-color: var(--wl-color-lgtBrwn);
    color: var(--wl-color-wht);
    border: 1px solid var(--wl-color-wht);
    // border-top: 0px;

    position: absolute;
    top: -597px;
    bottom: 0;
    left: 640px;
    right: 0;
    margin: auto;

    text-align: center;
    color: var(--wl-color-wht);
    padding: 5px;
    border-radius: 30px;

    font-size: 35px;
    line-height: 38px;
    text-indent: 1px;
    font-weight: bold;
}
#galleryModalWindow .gal-close p:hover{
    background-color: var(--wl-color-blk);
    color: red;
    border: 1px solid red;
    text-indent: 1px;
    // border-top: 0px;
}

.gal-Prev, .gal-Next{
    width: 35px;
    height: 60px;
    background: transparent url(../images/WLC_Gal_Chevron.png) no-repeat center center;
    background-size: contain;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.gal-Prev:hover, .gal-Next:hover{
    background: transparent url(../images/WLC_Gal_Chevron_hover.png) no-repeat center center;
    background-size: contain;
    transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.gal-Prev{
    right: 0;
    left: -700px;
}
.gal-Next{
    left: 0;
    right: -700px;
    transform: rotateY(180deg)
}



// @media only screen and (min-width : 320px) {
    @media (max-width: 767px) {
        .galleryImgContainer{
            padding: 0px 0 20px;
        }
        .galContainerInner{
            padding-top: 20px;
        }
        .galContainerInner .WL_Hdr_Main{
            font-size: 0.9em;
        }
        // .galContainerInner .WL_FeatSubImg{
        //     margin-top: 5px;
        //     height: 23px;
        // }
        // .galContainerInner .WL_FeatSubImg img{
        //     width: 20px;
        // }
        #galleryModalWindow img {
           width:240px;
            //    height:60%; /*Images should be bigger in small devices*/
        }
        .galleryImgContainer a{
            border: 1px solid var(--wl-color-wht);
        }
        .galleryImgContainer img{
            width: 120px;    
        }
        .gal-Prev, .gal-Next{
            width: 37px;
            height: 37px;
        }
    
        .gal-Prev{
            left: -310px;
        }
        .gal-Next{
            right: -310px;
        }

        #galleryModalWindow .gal-close p{
            width: 35px;
            height: 35px;
            font-size: 25px;
            line-height: 23px;
            top: -220px;            
            left: 237px;
      }
    }
// Gallery Modal Window Ens

// Contact Styles
.WL_Contact{
    background: transparent url(../images/WLC_Contact_Bkgrnd.png) no-repeat center center;
    background-size: cover;   
}

.WL_Contact .bdy_Hdr{
    margin-bottom: 40px;
}
#WL_Contact_Bdy .WL_Hdr_Main{    
    padding: 20px 0px 15px;
    font-size: 3.5em;
    line-height: 1em;
}
#WL_Contact_Bdy .HP_Feature_Text{
    @include BrygBase(400);
    font-size: 1.15em;
    line-height: 1.5em;
    // margin-bottom: 2.5rem;
}
@media (max-width: 767px) {
    /* CSS goes here */
    .WL_Contact .bdy_Hdr{
        padding-top: 20px;
    }
    #WL_Contact_Bdy .WL_Hdr_Main{    
        padding: 5px 0px 0px;
        font-size: 1.6em;
        line-height: 2.1rem;
    }
    #WL_Contact_Bdy  .HP_Feature_Text{
        font-size: 0.9em;
        line-height: 1.5em;
    }
}

.WL_Contact .WL_FeatSubImg{
    width: 65px;
    height: 100%;
    background: transparent url(../images/WLC_Contact_homeLogo.png) no-repeat 0 0;
    background-size: contain;
    margin-top: 0px;
    margin-right: 10px;
}
.wl_ContactForm_Wrap, .wl_Contact_addWrap{
    text-align: left;
}

#WL_ProductLst{
    margin-bottom: 10px;
}

#WL_Contact_Bdy .WL_Contact_Address, .wl_ContactForm_Wrap{
    @include BrygBase(400);
    // width: 375px;
    text-align: left;
}
#WL_Contact_Bdy .WL_Contact_Address h6{    
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1em;
}
#WL_Contact_Bdy .WL_Contact_Address h6:nth-of-type(3){
    @include MontBase(400);
}

#WL_Contact_Bdy .WL_Contact_Address h6 span{
    font-size: 0.7em;
    line-height: 0.7em;
}

#WL_Contact_Bdy .WL_Contact_Address h5{    
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1em;
}
#WL_Contact_Bdy .WL_Contact_Address h5 a{
    color:var(--wl-color-wht);
}
#WL_Contact_Bdy .WL_Contact_Address h5 a:hover{
    color:var(--wl-color-lgtBrwn);
}

#WL_Contact_Bdy .WL_Contact_Address p{
    width: 250px;
    border: 2px solid var(--wl-color-lgtBrwn);
    text-align: center;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: 700;
    padding: 5px 0px;
    margin: 0px 0px 7px -5px;
}
#WL_Contact_Bdy .WL_Contact_Address img{
    width: 200px;
    display: block;
}
#WL_Contact_Bdy .WL_Contact_Address img.WL_Fin_Logo{
    width: 240px;
}

.wl_Pg_Spacer{
    display: block;
    height: 25px;
}

.wl_ContactForm_Wrap .wl_submit{
    @include MontBase(400);
    display: block;
    width: 175px;
    margin: 0 auto;
    background-color: var(--wl-color-lgtBrwn);
    color: var(--wl-color-wht);
    border: 2px solid var(--wl-color-wht);

    
    border-radius: 5px;
    font-size: 1.5em;
    text-transform: uppercase;

    transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.wl_ContactForm_Wrap .wl_submit:hover{
    background-color: var(--wl-color-blk);
    color: var(--wl-color-lgtBrwn);
    border: 2px solid var(--wl-color-lgtBrwn);
}

.wl_ContactForm_Wrap #wl_message{
    height: 150px;
}

input[type=text], select, textarea{
    width: 100%;
    // padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

#WL_Contact_Ftr{
    display: block;
    min-height: 100px;
}

@media (max-width: 767px) {
    #WL_Contact_Bdy .WL_Contact_Address img{
        width: 160px;
    }
}