body{
    background-color: rgba(0, 0, 0, 1);
}
/* Nav Styles */
#WL_navbarContainer{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 75;
    background-color: rgba(0, 0, 0, 0.75);
}
@media (max-width: 767px) {
    /* CSS goes here */
    #WL_navbarContainer{
        background-color: rgba(0, 0, 0, 1);
        border-bottom: 2px solid rgba(184, 105, 54, 1);
    }
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color:rgba(184, 105, 54, 1);
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.7));
    // rgba(255,255,255,.75)
}
.navbar-brand{
    /* background: rgba(0, 0, 0, 0.9);
    padding: 10px; */

    /* filter: drop-shadow(0px 0px 3px rgba(184, 105, 54, 0.7)); */
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.7));
    
}
.navbar-dark .navbar-nav .nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    position: relative;
}
.navbar-dark .navbar-nav .nav-item{
    position: relative;
}
.nav-sep{
    width: 1px;
    height: 40px;
    background: transparent url(../images/WLC_Nav_Sep.png) no-repeat center center;
    background-size: contain;

    position: absolute;
    top: 0;
    right: -1px;
}

.navbar-dark .navbar-nav .nav-call{
    font-family: 'Brygada 1918', serif;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    /* padding-left: 30px; */
}
.navbar-dark .navbar-nav .nav-call p{
    color: #b86936;
    text-transform: capitalize;
    font-size: 1em;
    line-height: .75em;
    letter-spacing: 0.1em;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 7px;
}
.navbar-dark .navbar-nav .nav-call h6{
    font-size: 2.2em;
    line-height: .75em;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.navbar-dark .navbar-nav .nav-call h5{
    font-size: 1em;
    line-height: .75em;
    font-weight: 400;
}
/* Nav Styles */

/* Carousel Styles */
#WL_Carousel_Container{
    height: 650px;
    overflow: hidden;
    /* border-bottom: 5px solid lime; */
    z-index: 25;
}
.carousel-item{
    /* position: relative; */
    height: 650px;
}

@media (max-width: 767px) {
    /* CSS goes here */
    #WL_Carousel_Container{
        height: 460px;
    }
    .carousel-inner{
        width:100%;
        max-height: 460px !important;
    }
}


.carousel-item p{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: inline-block;
    padding: 10px 40px;

    font-family: 'Brygada 1918', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2em;
    line-height: 1.25em;

    position: relative;
    top: 350px;
}

@media (max-width: 767px) {
    .carousel-item p{
    /* CSS goes here */
        font-size: 1em;
        line-height: 1em;
        top: 250px;
    }
}

.carousel-item:nth-of-type(1){
    background: transparent url(../images/WLC_HP_Carousel_0.png) no-repeat center center;
    background-size: cover;
}
.carousel-item:nth-of-type(2){
    background: transparent url(../images/WLC_HP_Carousel_1.png) no-repeat center center;
    background-size: cover;
}
.carousel-item:nth-of-type(3){
    background: transparent url(../images/WLC_HP_Carousel_2.png) no-repeat center center;
    background-size: cover;
}
.carousel-item:nth-of-type(4){
    background: transparent url(../images/WLC_HP_Carousel_3.png) no-repeat center center;
    background-size: cover;
}
.carousel-item:nth-of-type(5){
    background: transparent url(../images/WLC_HP_Carousel_4.png) no-repeat center center;
    background-size: cover;
}

.carousel-indicators .active{
    background-color: #b86936;
}
/* Carousel Styles */

.WL_BlackBox{
    max-width: 1050px;
    min-width: 320px;
    margin: 175px auto 0px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 25px 25px 0px 0px;
}
@media (max-width: 767px) {
    /* CSS goes here */
    .WL_BlackBox{
        width: 320px;
        margin: 135px auto 0px;
        background-color: rgba(0, 0, 0, 0.9);
        // border-radius: 10px 10px 0px 0px;        
    }
}

.HP_Feature_Text{
    font-family: 'Brygada 1918', serif;
    font-weight: 400;
    // font-style: italic;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 0.25rem;
}

/* Philosophy Hdr Styles */
#WL_Philosophy_Hdr{
    background-color: rgba(0, 0, 0, 1);
    font-family: 'Brygada 1918', serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.7rem;
    font-weight: 400;
}
#WL_Philosophy_Hdr span.text-feature{
    color: rgba(184, 105, 54, 1);
    font-size: 2.5rem;
    line-height: 1.7rem;
    font-weight: 700;
}
@media (max-width: 767px) {
    /* CSS goes here */
    #WL_Philosophy_Hdr{
        font-size: 1.7rem;
        line-height: 2rem;
    }
    #WL_Philosophy_Hdr P{
        margin-bottom: 0px;
    }
    #WL_Philosophy_Hdr span.text-feature{
        font-size: 2.2rem;
        line-height: 2.7rem;
        display: block;
    }
    #WL_Philosophy_Hdr .container:nth-of-type(2){
        margin: 10px 0px 30px;
    }
    #WL_Philosophy_Hdr .container:nth-of-type(2) div>.col-md{
        width: 50%;
    }
}
/* Philosophy Hdr Styles */

/* Philosophy Bdy Styles */
#WL_Philosophy_Bdy{
    background-color: rgba(0, 0, 0, 1);
}

.WL_Hdr_Main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #b86936;
    // color: #fff;
    text-transform: uppercase;
}
#WL_Philosophy_Bdy .WL_Hdr_Main{    
    padding: 50px 0px;
    font-size: 3em;
    line-height: 1.7rem;
}
@media (max-width: 767px) {
    #WL_Philosophy_Bdy .WL_Hdr_Main{    
        padding: 20px 0px;
        font-size: 1.7em;
        line-height: 0.7rem;
    }
}

.WL_Hdr_SubMain{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #b86937;
    padding: 20px 0px 10px;

    text-transform: uppercase;
    font-size: 2em;
    line-height: 1rem;
}

@media (max-width: 767px) {
    /* CSS goes here */
    .WL_Hdr_SubMain{
        font-size: 1.5em;
        line-height: 0.5em;
    }
}

.HP_Phil_Text{
    font-family: 'Brygada 1918', serif;
    font-weight: 400;
    // font-style: italic;
    font-size: 1.35em;
    line-height: 1.7em;
}
@media (max-width: 767px) {
    .HP_Phil_Text{
        font-size: 1em;
        line-height: 1.5em;
    }
}
/* Philosophy Bdy Styles */

/* Philosophy Ftr Styles */
#WL_Philosophy_Ftr{
    background-color: rgba(0, 0, 0, 1);
}
.bdy_Ftr{
    padding-bottom: 50px;
}
.bdy_Ftr p{
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto;

    font-family: 'Brygada 1918', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.8em;
    line-height: 1.3em;
    position: relative;
}
.bdy_Ftr p span.text-feature{
    color: #b86936;
    font-weight: 700;
    font-style: italic;
    font-size: 3em;
    line-height: 1em;
    position: absolute;
}

.bdy_Ftr p span.text-feature:nth-of-type(1){
    top: -50px;
    left: -6px;
    transform: rotate(180deg);
}
.bdy_Ftr p span.text-feature:nth-of-type(2){
    right: 55px;
}

.bdy_Ftr h6{
    font-family: 'Great Vibes', cursive;
    color: #b86936;
    font-size: 2.35em;
    line-height: 0.5em;
    padding-top: 30px;
}
.bdy_Ftr h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #ca916d;
    font-size: 1em;
    line-height: 1.5em;
    // padding-bottom: ;
}

@media (max-width: 767px) {
    .bdy_Ftr p{
        max-width: 300px;
        margin: 10px auto;
        font-size: 1.4em;
        line-height: 1.4em;
        padding: 10px;
    }
    .bdy_Ftr p span.text-feature:nth-of-type(1){
        top: -28px;
        left: 28px;
        font-size: 2.5em;
    }
    .bdy_Ftr p span.text-feature:nth-of-type(2){
        right: 55px;
        font-size: 2.5em;
    }

    .bdy_Ftr h6{
        font-size: 2.35rem;
        line-height: 1.75rem;
        padding-top: 5px;
    }
    .bdy_Ftr h5{
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
}


/* Philosophy Ftr Styles */

/* Footer Nav Styles */
#WL_ftr_navbarContainer{
    // margin-top: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0px -1px 15px 5px rgba(184px, 105, 54, 0.23);
}
/* Footer Nav Styles */

/* About Us Styles */
.WL_AboutUs{
    background: transparent url(../images/WLC_AboutUs_Bkgrnd.png) no-repeat center center;
    background-size: cover;   
}

#WL_AboutUs_Bdy .WL_FeatSubImg{
    margin-top: 20px;
    // height: 45px;
}
#WL_AboutUs_Bdy .WL_Hdr_Main{    
    padding: 15px 0px 0px;
    font-size: 2.5em;
    line-height: 2.7rem;
}
@media (max-width: 767px) {
    /* CSS goes here */
    #WL_AboutUs_Bdy{
        padding-top: 25px;
    }
    #WL_AboutUs_Bdy .WL_Hdr_Main{    
        padding: 5px 0px 0px;
        font-size: 1.6em;
        line-height: 2.1rem;
    }
}

/*Products Styles*/
.WL_Products{
    background: transparent url(../images/WLC_Products_Bkgrnd.png) no-repeat center center;
    background-size: cover;   
}
#WL_Product_Bdy .WL_FeatSubImg{
    margin-top: 20px;
    // height: 45px;
}
#WL_Product_Bdy .WL_Hdr_Main{    
    padding: 15px 0px 0px;
    font-size: 2.5em;
    line-height: 2.7rem;
}
@media (max-width: 767px) {
    /* CSS goes here */
    #WL_Product_Bdy {
        padding-top: 25px;
    }
    #WL_Product_Bdy .WL_FeatSubImg{
        margin-top: 10px;
    }
    #WL_Product_Bdy .WL_FeatSubImg,
    #WL_Product_Bdy .WL_FeatSubImg img{
        height: 30px;
    }
    #WL_Product_Bdy  .WL_Hdr_Main{    
        padding: 5px 0px 0px;
        font-size: 1.6em;
        line-height: 2.1rem;
    }
}

/*Gallery Styles*/
.WL_Gallery{
    background: transparent url(../images/WLC_Gal_Bkgrnd.png) no-repeat center center;
    background-size: cover;   
}

// @media only screen and (min-width : 320px) {
//     .galleryNavContainer .navListing{
//         width: 93px;
//         margin-right: 5px;
//     }
//     .galleryNavContainer .gal-sep{
//         height: 15px;
//         bottom: 13px;
//     }
//     .galleryNavContainer .WL_Hdr_Main{    
//         // padding: 20px 0px;
//         font-size: 0.7em;
//         line-height: 1.7rem;
//     }
//  }
 
//   @media only screen and (min-width : 576px) {
//     .galleryNavContainer .WL_Hdr_Main{    
//         padding: 50px 0px;
//         font-size: 0.7em;
//         line-height: 1.7rem;
//     }
//   }

//   @media only screen and (min-width : 768px) {
//     .galleryNavContainer .WL_Hdr_Main{    
//         padding: 50px 0px;
//         font-size: 1.2em;
//         line-height: 1.7rem;
//     }
//   }

.navListing{
    // width: 150px;
    // background-color: salmon;
    // margin-right: 10px;
    position: relative;
}

.galContainerInner{
    gap: 15px;
}
.galContainerInner .WL_FeatSubImg{
    opacity: 0;
    // width: 67px;
    height: 43px;
    margin: 15px 0 5px;
    // background: lime;
}
.galContainerInner .navListing:nth-of-type(1) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_TablesLogo.png) no-repeat center center;
    // background-size: 70%;   
}
.galContainerInner .navListing:nth-of-type(2) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_LightingLogo.png) no-repeat center center;
    // background-size: 70%;   
}
.galContainerInner .navListing:nth-of-type(3) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_FurnitureLogo.png) no-repeat center center;
    // background-size: 70%;   
}
.galContainerInner .navListing:nth-of-type(4) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_MantlesLogo.png) no-repeat center center;
    // background-size: 70%;   
}
.galContainerInner .navListing:nth-of-type(5) .WL_FeatSubImg{
    background: transparent url(../images/WL_IMGGAL__MenuLogos/WLC_Products_BarnDoorsLogo.png) no-repeat center center;
    // background-size: 70%;   
}


.galContainerInner .WL_Hdr_Main{    
    // padding: 50px 0px;
    font-size: 1.2em;
    line-height: 1.2em;
    // color: #fff;
}
.galContainerInner .WL_Hdr_Main:hover{
    color:rgba(255, 255, 255, 1);
    // filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.7));
    // rgba(255,255,255,.75)
}


.gal-sep{
    width: 1px;
    height: 25px;
    background-color: #fff;

    position: absolute;
    bottom: 5px;
    right: -8px;
}

#galleryContainer{
    min-height: calc(100vh - 300px);
}

// Gallery Modal Window Start
#galleryModalWindow{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;

    transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

#galleryModalWindow img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media only screen and (min-width : 320px) {
    .galContainerInner{
        padding-top: 20px;
    }
    .galContainerInner .WL_Hdr_Main{
        font-size: 0.9em;
    }
    // .galContainerInner .WL_FeatSubImg{
    //     margin-top: 5px;
    //     height: 23px;
    // }
    // .galContainerInner .WL_FeatSubImg img{
    //     width: 20px;
    // }
    #galleryModalWindow img {
       width:320px;
        //    height:60%; /*Images should be bigger in small devices*/
    }
 }
 
  @media only screen and (min-width : 576px) {
    .galContainerInner{
        padding-top: 10px;
    }
    .galContainerInner .WL_Hdr_Main{
        font-size: 1em;
    }
    // .galContainerInner .WL_FeatSubImg{
    //     margin-top: 15px;
    //     height: 33px;
    // }
    // .galContainerInner .WL_FeatSubImg img{
    //     width: 30px;
    // }
    #galleryModalWindow img {
       width: 440px;
   }
  }

  @media only screen and (min-width : 768px) {
    .galContainerInner{
        padding-top: 0px;
    }
    .galContainerInner .WL_Hdr_Main{
        font-size: 1.2em;
    }
    // .galContainerInner .WL_FeatSubImg{
    //     margin-top: 15px;
    //     height: 43px;
    // }
    // .galContainerInner .WL_FeatSubImg img{
    //     width: 30px;
    // }
    #galleryModalWindow img {
       width: auto;
    //    height:55%;
   }
  }


  #galleryModalWindow p{
      width: 150px;
    //   height: 35px;
    //   background-color: #b86936;

    background-color: rgba(184, 105, 54, 1);
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    border-top: 0px;

    position: absolute;
    top: 0;
    // bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 0 0 20px 20px;

    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}
#galleryModalWindow p:hover{
    background-color: rgba(0, 0, 0, 1);
    color: rgba(184, 105, 54, 1);
    border: 2px solid #b86936;
    border-top: 0px;
}
// Gallery Modal Window Ens

// Contact Styles
.WL_Contact{
    background: transparent url(../images/WLC_Contact_Bkgrnd.png) no-repeat center center;
    background-size: cover;   
}

.WL_Contact .bdy_Hdr{
    margin-bottom: 40px;
}
#WL_Contact_Bdy .WL_Hdr_Main{    
    padding: 20px 0px 15px;
    font-size: 2.5em;
    line-height: 1em;
}
#WL_Contact_Bdy .HP_Feature_Text{
    font-family: 'Brygada 1918', serif;
    font-weight: 400;
    // font-style: italic;
    font-size: 1.15em;
    line-height: 1.5em;
    // margin-bottom: 2.5rem;
}
@media (max-width: 767px) {
    /* CSS goes here */
    .WL_Contact .bdy_Hdr{
        padding-top: 20px;
    }
    #WL_Contact_Bdy .WL_Hdr_Main{    
        padding: 5px 0px 0px;
        font-size: 1.6em;
        line-height: 2.1rem;
    }
    #WL_Contact_Bdy  .HP_Feature_Text{
        font-size: 0.9em;
        line-height: 1.5em;
    }
}

.WL_Contact .WL_FeatSubImg{
    width: 65px;
    height: 100%;
    background: transparent url(../images/WLC_Contact_homeLogo.png) no-repeat 0 0;
    background-size: contain;
    margin-top: 0px;
    margin-right: 10px;
}
.wl_ContactForm_Wrap, .wl_Contact_addWrap{
    text-align: left;
}

#WL_Contact_Bdy .WL_Contact_Address, .wl_ContactForm_Wrap{
    font-family: 'Brygada 1918', serif;
    // width: 375px;
    text-align: left;
}
#WL_Contact_Bdy .WL_Contact_Address h6{
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1em;
}

#WL_Contact_Bdy .WL_Contact_Address h5{
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1em;
}
.wl_Pg_Spacer{
    display: block;
    height: 25px;
}

.wl_ContactForm_Wrap .wl_submit{
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 175px;
    margin: 0 auto;
    background-color: rgba(184, 105, 54, 1);
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);

    
    border-radius: 5px;
    font-size: 1.5em;
    text-transform: uppercase;

    transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.wl_ContactForm_Wrap .wl_submit:hover{
    background-color: rgba(0, 0, 0, 1);
    color: rgba(184, 105, 54, 1);
    border: 2px solid #b86936;
}

.wl_ContactForm_Wrap #wl_message{
    height: 150px;
}

input[type=text], select, textarea{
    width: 100%;
    // padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

#WL_Contact_Ftr{
    display: block;
    min-height: 100px;
}